@import './_top_nav.css';
@import './_slider.css';
@import './_shiping.css';
@import './_categories.css';
@import './_special-offers.css';
@import './_popular-products.css';
@import './_banner-section-1.css';
@import './_footer.css';
@import './_login-form.css';
@import './_product-breadcrumb.css';
@import './_product-desc.css';
*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'vazir';
}
@font-face{
    font-family: 'vazir';
    src: url('../font/dist/Vazir-Medium.woff') format('woff'),
    url('../font/dist/Vazir-Medium.woff2') format('woff2');

}
body {
  direction: rtl;
}
a {
  text-decoration: none;
}
li,
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
p{
  margin: 0;
}
@media (max-width: 576px) {
  .mt-csm-3 {
    margin-top: 1rem !important;
  }
  .mb-csm-3 {
    margin-bottom: 1rem !important;
  }
}
@media (max-width: 767px) {
  .mb-cmd-3 {
    margin-bottom: 1rem !important;
  }
}
@media (max-width: 991px) {
  .mt-clg-3 {
    margin-top: 1rem !important;
  }
}
@media (min-width: 1200px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1340px !important;
  }
}